.container {
  display: flex;
}
img {
  width: 250px;
  height: 150px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  list-style: none;
  background-color: brown;
}
.ul {
  display: none;
}
.ul2 {
  display: block;
}
.none {
  display: none;
}
